PRIVATE_KEY_DEPLOY=0x...

OUTPUT_FILENAME="Optimism-Test.json"

OPTIMISM_RPC_URL="https://opt-mainnet.g.alchemy.com/v2/<Enter alchemy optimism api key here>"
OPTIMISM_SCAN_API_KEY=
OPTIMISM_ETHERSCAN_VERIFIER_URL=https://api-optimistic.etherscan.io/api

BASE_RPC_URL="https://base-mainnet.g.alchemy.com/v2/<Enter alchemy optimism api key here>"
BASE_SCAN_API_KEY=
BASE_ETHERSCAN_VERIFIER_URL=https://api.basescan.org/api

TENDERLY_FORK_ID=
TENDERLY_DEVNET_TEMPLATE=
TENDERLY_DEVNET_ID=
